################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CSharp/Math/.vs/Math/v15/Server/sqlite3
/CSharp/Math/.vs/Math/v15
/CSharp/Math/Math/obj
/CSharp/Math/SubTests/obj/Debug
/CSharp/Math/packages
/CSharp/Math/MultTests/obj/Debug
/CSharp/Math/DivTests/obj/Debug
/CSharp/Math/AddTests/obj/Debug
/CSharp/Math/.vs/Math/DesignTimeBuild
