################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CSharp/Math/.vs/Math/v15/Server/sqlite3
